<div class="main">
  <h2>Training DB Webapp</h2>
  <table cellpadding="8">
    <tr>
      <td><%= link_to image_tag("top.png", alt: "top", id: "top-icon", size: "100x100"), courses_path %></td>
      <td><%= link_to image_tag("registration.png", alt: "registration", id: "reg-icon", size: "100x100"), new_course_path %></td>
      <td><%= link_to image_tag("allcourse.png", alt: "allcourse", id: "all-icon", size: "100x100"), courses_path %></td>
    </tr>
    <tr>
      <td>Top page</td>
      <td>Create course</td>
      <td>All course</td>
    </tr>
  </table>

  <h2>Search</h2>
    <%= link_to 'all course', courses_path %>
    <%= form_tag(controller: :top_pages, action: :search_keyword, method: :post) do %>
      <%= label_tag "keyword" %>
      <%= text_field_tag :keyword %>
      <%= submit_tag "submit" %>
    <% end %>
    <%= form_tag(controller: :top_pages, action: :search_category, method: :post) do %>
      <%= label_tag "category" %>
      <%= text_field_tag :category %>
      <%= submit_tag "submit" %>
    <% end %>
</div>
