<p><%= @courses.count %> courses found.</p>
<div class="multi-table">
  <table border="1">
    <tr>
      <th>course_id</th>
      <th>title</th>
      <th>price</th>
      <th>level_id</th>
      <th>category</th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_id, course_path(course) %></td>
        <td><%= course.course_title %></td>
        <td><%= course.price %></td>
        <td><%= course.level_id %></td>
        <td><%= course.category %></td>
      </tr>
    <% end %>
  </table>
</div>
